body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5rem;
  /* 1.5 * 16px */
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-top: 25px;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: .7rem;
  margin-top: 15px;
}

.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951c49;
  text-align: center;
}

#nav-list a:hover {
  background-color: #e7e7e7;
  text-decoration: none;
}

#nav-list a i, #nav-list a span {
  font-size: 1.8rem;
  margin-right: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;
}

#phone div {
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

#header-nav button.navbar-toggler {
  border: 1px solid #61122f;
  clear: both;
  margin-top: -30px;
}

/* final do cabeçalho e menus */

/* conteúdo principal */

.container .jumbotron {
  margin-top: 20px;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-item, #especialidades-item, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
}

#menu-item:hover, #especialidades-item:hover, #map-tile:hover {
  box-shadow: 0 1px 5px #cccccc;
}

#menu-item {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}

#especialidades-item {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-item span, #especialidades-item span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* final do conteudo principal */

/* extra large */

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/* large */

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-img {
    /* cabeçalho */
    background: url('../images/restaurant-logo_large.png') no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100px;
    margin: 5px 5px 5px 0;
  }
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
}

/********** small  **********/

@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 90px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }
  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a i {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* Botão que aparece em telas menores */
  #call-btn {
    margin-top: 20px;
  }
  #call-btn a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #md-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
  }
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 90px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
    /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {
    /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    /* Star-K */
    height: 20px;
  }
  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a i {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* Botão que aparece em telas menores */
  #call-btn {
    margin-top: 20px;
  }
  #call-btn a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #md-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
  }
  .container .jumbotron {
    padding: 0;
    margin-top: 30px;
  }
}